.st3 {
    animation-delay:1s;
    animation-duration:10s;
    animation-fill-mode:forwards;
    transform-origin:50% 50%;
    animation-name:fish;
}

@keyframes fish {
    0%{
        
    }
    25%{
        transform:translateY(15vh) translateX(-60vh);
    }
    50%{
        transform:translateY(40vh) translateX(-80vh);
    }
    70%{
        transform:translateX(-90vh);
    }
    80%{
        transform:translateY(-15vh) rotate(90deg) ;
    }
    100%{
        transform:translateX(-60vh) rotate(90deg) translateX(-100vh);
    }
}

.st2{
    
}

@keyframes bulles {
    
}